html {
    font-size: 62.5%;
}
body {
    background-image: url("images/frame.png");
    background-size: cover;
}

nav {
    font-family: 'Pacifico', cursive;
    color: black; 
    font-size: 2rem;
    a {
        color: black;
        // margin-left: 2rem;
        // margin-top: 3rem;
    }
}


