
h3 {
    font-family: 'Pacifico', cursive !important;
    font-size: 40px !important;
    color: rgba(159, 196, 136, 0.9) !important;
    margin-bottom: 2vh;
}

th {
    font-family: 'Raleway', sans-serif !important;
}

.title {
    margin-top: 1%;
}

.text {
    margin-left: 20px;
}

.special {
    border-radius: 20px !important;
}

.quote {
    color: white;
    font-size: 4vh;
    margin-top: 10vh;
    margin-left: 60px;
    
}

.title2 {
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    line-height: 50px;
}

thead {
    margin-top: 30px;
    border: 5px solid rgba(240, 216, 89, 0.5);
}


.table-striped {
    border-radius: 25px !important;
    

}

.welcome {
    font-family: 'Pacifico', cursive !important;
    font-size: 60px !important;
    color: rgba(159, 196, 136, 0.9) !important;
    margin-bottom: 2vh;
    margin-top: 6vh;
}

.for {
    font-size: 20px;
    margin-left: 30px;
}
.butoon-red {
    background: #FF9A9A;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 10px;
    color:white;
}

.butoon {
    background: #9FC488;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 10px;
    color:white;
}

.butoon2 {
     background: #9FC488;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 30px;
    color:white;
}

a:hover {
    text-decoration: none !important;
    color: black;
}