.margin {
    margin-left: 70px;
    margin-top: 20px;
}
.green  {
    background: rgba(159, 196, 136) !important;
    border-radius: 71px;
    height: auto;
}

h3 {
    font-family: 'Pacifico', cursive;
    font-size: 40px !important;
    color: white ;
}

.title {
    margin-top: 5%;
}

form {
    color: white;
    font-size: 18px;
    width: 50vh;
    font-family: 'Raleway', sans-serif;
    border-radius: 20px;
}

.text {
    margin-left: 20px;
}

.special {
    border-radius: 20px !important;
}

.quote {
    color: white;
    font-size: 4vh;
    margin-top: 10vh;
    margin-left: 60px;
    
}

.writer {
    color: white;
    margin-top: 3vh;
    font-size: 20px;
    font-family: 'Pacifico', cursive;
    color: #eeffe3;
    display: block;
    float: right;
}

.butoon {
    background: rgba(240, 216, 89, 0.5);
    padding: 5px 15px;
}

.butoon:hover {
    color: black;
}