html {
    font-size: 62.5% !important;
}

.header {
    color: white;
}
.p-1 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}
h3{
    font-family: 'Pacifico', cursive !important;
font-style: normal;
font-weight: normal;
font-size: 40px !important;
line-height: 84px;
}
#rounded2 img{
    height: 200px;
    width: 200px;
}
#rounded {
    border-radius: 25px !important;
    height: 20rem !important;
    background-position: top !important;
}

img {
    width: 140px;
    height: 140px;
}

.mtt {
    margin-top: 40px;
}

.mtt2 {
    margin-top: 30px;
}
.mtt3 {
    margin-top: 63px;
}

.mtt4 {
    margin-top: 20px;
}
.create {
    font-family: Open Sans;
font-style: normal;
font-weight: 300;
font-size: 2vh;
line-height: 4vh;
color: black;
margin-left: 20px;
}
.butoon {
    background: rgba(240, 216, 89, 0.5);
    padding: 5px 15px;
}
.conthit {
    height: 300px;
}

.roundedleft{
    border-radius: 25px;
    margin-right: 5px;
    border: 8px solid rgba(159, 196, 136, 0.5);
box-sizing: border-box;
}

#rounded3 img{
    height: 150px;
    width: 150px;
}