.recipephoto {
    background: rgba(240, 216, 89, 0.5);;
    height: 400px;
}

h3 {
    font-family: 'Pacifico', cursive;
    font-size: 50px !important;
}

p {
    font-family: 'Raleway', sans-serif;
    
}

.times {
    font-size: 17px;
    line-height: 15px;
    margin-left: 20px;
}
.rounded-circle {
    background:black;
}
h4 {
    font-size: 20px !important;
    line-height: 28px !important;
    letter-spacing: 8px;
}

.separator {
    border-right: 20px solid rgba(240, 216, 89, 0.4);;
}

h5 {
    font-size: 19px !important;
}

.ing{
    line-height: 50px !important;
}

.proc {
    line-height: 32px !important;
}

.butoon {
    background: #9FC488;;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 10px;
    color:white;
}

.red {
    background: #FF9A9A;
}

.size {
    height: 20px;
    
}

h3 {
    margin-top: 500px;
}